/* CSS declarations go here */
.new-player {
  display: inline;
}

.new-game {
  display: inline;
}

/*.remove-player, .remove-game{
  background: rgb(255, 80, 80);
}*/

/*.dec-score {
  background: rgb(200, 200, 80);
}*/
